@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

/* Remove borders from links */
a {
  @apply border-none outline-none;
}
/* Remove border or outlines when focused on link */
a:focus {
  outline: none;
  border: none;
}

:root {
  /* colors */
  --zinc: #f1f0f1;
  --zinc-dark: #8e8386;
  --grey: #505050;
  --grey-dark: #2e2b29;
  --pink: #f43293;

  /* 
    * The following colors are based on the OKLCH color space.
    * The values are in the format oklch(l, c, h).
    * l: lightness (0 to 1)
    * c: chroma (0 to 1)
    * h: hue (0 to 360)
    *
    * For more information on OKLCH, see:
    * https://oklch.com/
    */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: "Poppins", sans-serif;
    @apply bg-background text-foreground;
  }
}

.section {
  @apply px-15;
}

.nav-link {
  @apply text-base px-8 py-3 font-medium text-black;
}

.btn-outlined {
  @apply text-sm border-2 font-semibold text-black border-black px-9 py-5 rounded-[99px] hover:bg-black hover:text-white duration-300;
}

.btn-filled {
  @apply text-sm font-semibold bg-[var(--pink)] text-[var(--grey-dark)] px-9 py-5 rounded-[99px];
}

.btn-underlined {
  @apply flex justify-center items-center py-1.5 gap-1.5 text-sm font-medium text-black border-b-[1.5px] border-black;
}
.btn-outlined-white {
  @apply text-sm border-2 font-semibold border-white px-9 py-5 rounded-[99px];
}

.slideshow .slide {
  @apply pb-20;
}

.slideshow .swiper-pagination-bullet {
  width: 2rem;
  height: 0.25rem;
  border-radius: 0px;
  background: var(--pink);
}

.slideshow .swiper-pagination-fraction,
.slideshow .swiper-pagination-custom,
.slideshow .swiper-horizontal > .swiper-pagination-bullets,
.slideshow .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 2.5em;
}

@media (max-width: 768px) {
  .section {
    @apply px-5;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dropdown {
  @apply relative;
}

.dropdown-content {
  /* bounce */
  animation: fadeIn 0.3s ease-in-out forwards;
  transform-origin: top center;
  @apply absolute hidden flex-row top-full -left-1/2 p-2.5 w-full bg-white border border-border rounded-2xl shadow-lg z-10 min-w-[400px];
}

.dropdown-content ul {
  @apply list-none p-0 m-0;
}

.dropdown-content li {
  @apply px-4 py-2 text-sm text-black hover:bg-gray-100 cursor-pointer;
}

.dropdown-content li:hover {
  @apply bg-gray-100;
}
.dropdown-content li.active {
  @apply bg-gray-200;
}
.dropdown-content li.active:hover {
  @apply bg-gray-200;
}

.dropdown:hover .dropdown-content {
  @apply flex;
}

.dropdown .dropdown-subcategories {
  @apply flex flex-col pr-2.5 max-h-[350px] overflow-y-auto;
}
.dropdown .dropdown-subcategory {
  @apply flex items-start gap-2 px-4 py-2 text-sm text-black hover:bg-gray-100 cursor-pointer rounded-xl;
}
.dropdown .dropdown-subcategory.active {
  @apply bg-gray-100;
}
.dropdown .dropdown-events {
  @apply flex flex-col flex-1 p-2.5 rounded-2xl bg-zinc-100 max-h-[350px] overflow-y-auto;
}
.dropdown .dropdown-event {
  @apply flex items-start gap-2 px-4 py-2 text-sm text-black hover:bg-white cursor-pointer rounded-xl;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
  70% {
    opacity: 1;
    transform: translateY(5px) scale(1.025);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
